/* CSS for this Project */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.header {
  background: #3c8ad9 !important;
  background-attachment: fixed;
  background-size: cover;
}
.header {
  position: fixed !important;
  top: 0;
  z-index: 1000;
}
.header_img {
  margin: 10px 30px 10px 50px;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.header_btn {
  color: black;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 10px;
  font-size: larger;
  font-weight: 100;
  cursor: pointer;
}

.header_btn:hover {
  transition: 0.5s;
  color: #fff;
  background: #3c8ad9;
  border: 1px solid white;
}

.home_style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  height: auto;
  margin: 50px auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 10px black /* , -2px -2px 5px black */;
}
.home_box {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 120px 0 0 220px;
}
.home_main_img {
  height: 450px;
  width: 900px;
}
.home_side_img {
  height: 400px;
  width: 500px;
}
.registration_img {
  width: 500px;
  height: 675px;
}

#text_home_regis {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
#text_home {
  font-size: large;
  text-decoration: underline;
  text-align: center;
}

.registration_form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.student_form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 1250px;
  height: auto;
  padding: 15px;
  margin: 30px auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 10px black /* , -2px -2px 5px black */;
}
.container_box {
  /* width: 100%; */
  margin: 20px auto 40px 235px !important;
}
.input_field {
  width: 100%;
}

#submit_btn {
  padding: 10px 5px;
  /* width: 100%; */
  margin-top: 20px;
  color: white;
}
#submit_link {
  text-align: center;
  text-decoration: none;
}

#grid_links {
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
#grid_links_btn {
  color: black;
  border: 2px solid black;
}
#grid_links_btn:hover {
  transition: 0.5s;
  color: #fff;
  border: 2px solid white;
}

.login_link {
  /* width: 100px; */
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.login_link p {
  margin: 0 5px;
}
.login_btn {
  text-decoration: none;
  color: rgb(25, 118, 210);
}
.login_btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.clear_errors,
.clear_error {
  color: red;
  font-size: 14px;
  padding: 0 !important;
  margin: 0 !important;
}
.clear_error {
  margin: -8px 0 8px -15px !important;
}

.typographyText {
  text-align: center;
  margin: 120px auto 20px 235px !important;
  color: black;
  /* font-weight: bold !important; */
  text-decoration: underline;
}

.gridBoxContainer {
  height: 670px !important;
  width: 84% !important;
  /* text-align: center; */
  margin: 30px 30px 30px 235px !important;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  /* display: flex; */
}

#add_btn {
  float: right;
  font-weight: bold;
  font-size: larger;
  color: black;
  border-radius: 8px;
  border: 2px solid black;
  background-color: #fff;
  margin: 10px 150px 10px 0 !important;
}

#datagrid {
  margin: 150px auto 100px auto;
  background: white;
  border: 2px solid black;
}
.home_text {
  color: black;
  font-weight: bold;
  font-size: larger;
}

.attendance_modal {
  position: absolute;
  top: 125px;
  right: 25px;
  margin: 0 20px 20px auto;
}

.checkbox {
  display: flex;
  align-items: center;
}

/* .textForStudents {
  width: auto !important;
} */
.contactUsPageText {
  animation: blinker 1.5s linear infinite;
  font-family: sans-serif;
  margin: 0 2px 0 225px !important;
  color: #000;
  background-color: #fff;
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
/* footer css start here */

footer {
  /* margin-left: 222px !important; */
  padding: 10px;
  margin: 5px;
  height: auto;
  border: 2px solid rgb(4, 4, 52);
  border-radius: 10px;
  background: linear-gradient(to right, #1976d2, #d2e1f0, #1976d2);
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}

.social-media {
  position: relative;
}

.social-media .fa {
  font-size: 30px;
  text-decoration: none;
  padding: 2px;
  margin: 12px;
}

.social-media .fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  color: rgb(244, 66, 95);
}

.fa-github {
  color: black;
}

.fa-twitter {
  color: #2f9df0;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-facebook {
  color: #214fb1;
}

.fa-youtube {
  color: rgb(236, 24, 24);
}

/* footer css end here */

/* Css for MUI Classes */
.css-i4bv87-MuiSvgIcon-root {
  margin-right: 5px !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  margin-left: -20px !important;
}

.WIP_text {
  font-size: larger;
  color: black;
  width: 100%;
  margin: 275px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imageBox {
  text-align: right;
  display: flex;
}
.profileData {
  width: auto;
  margin: 10px;
}
.profileField {
  margin: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
.profileDataText {
  margin: 0 10px;
  width: 40%;
  color: grey;
  font-size: large;
}

/* For My Profile Image */
.profile-pic-wrapper {
  height: 100vh;
  width: 100%;
  margin: 30px -30px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: center; */
  /* align-items: center; */
}
.profile-pic-box {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.profile-pic-box h2 {
  text-decoration: underline;
  text-align: center;
}

.pic-holder {
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 225px;
  height: 225px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: center;
  align-items: center; */
  margin-bottom: 20px;
  /* border: 1px solid blue; */
  box-shadow: 0px 5px 15px black /* , -2px -2px 5px black */;
}

.pic-holder .pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  /* margin-right: 80px;
  margin-top: 60px; */
  /* margin: 0 20px 0 0; */
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.pic-holder .upload-file-block {
  cursor: pointer;
}

.pic-holder:hover .upload-file-block,
.uploadProfileInput:focus ~ .upload-file-block {
  opacity: 1;
}

.pic-holder.uploadInProgress .upload-file-block {
  display: none;
}

.pic-holder.uploadInProgress .upload-loader {
  opacity: 1;
}

/* Snackbar css */
.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  transform: translateX(-50%);
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.contact-us-container {
  text-align: center;
  width: 100%;
  height: 435px;
  margin: auto;
  margin-top: 120px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  mix-blend-mode: color-burn;
}

.contact-text {
  text-align: left;
}

/* For My Profile Image */

@media screen and (max-width: 1000px) {
  .home_style,
  .student_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 750px;
    height: auto;
    margin: 80px 20px;
  }
  .container_box {
    width: 100%;
    margin: 20px auto 40px 225px !important;
  }
  .registration_img {
    width: auto;
    height: 500px;
  }
  .registration_form {
    padding: 30px 0;
  }
  .gridBoxContainer {
    min-height: 100% !important;
    width: 100% !important;
  }
  .gridBoxMyProfile {
    height: 100% !important;
    width: 100% !important;
    margin: 30px 10px 30px 225px !important;
  }
  .contactUsPageText {
    width: 100% !important;
  }
  .profile-pic-box {
    float: none;
  }
  .profileField {
    flex-direction: column;
  }
  .profileDataText {
    /* margin-left: -180px; */
    width: 100%;
  }
  .attendance_modal {
    position: absolute;
    top: 125px;
    right: -220px;
    margin: 0;
  }
  footer {
    /* margin: 5px; */
    margin: 5px 2px 0 220px;
    margin-top: 50px;
    height: auto;
    width: 100%;
  }
  footer b {
    display: block;
  }
}

@media screen and (max-width: 599px) {
  /* .header {
    position: sticky !important;
    top: 0;
    z-index: 1000;
  } */
  .header_img {
    margin: 5px;
    margin-left: -8px;
    height: 40px;
    width: 40px;
  }
  .header_heading {
    font-size: 28px !important;
    /* margin-top: -20px !important; */
  }
  .header_btn {
    margin: 1px;
    /* padding: 5px;
    font-size: medium;
    font-weight: 100; */
    /* display: none; */
  }
  .attendance_modal {
    position: absolute;
    /* top: 0; */
    width: auto;
    margin: 50px auto auto;
    /* padding: 5px; */
    /* z-index: 10000; */
    /* line-height: 20px; */
    /*Add attendance/Student btn*/
    display: block;
  }
  .home_style,
  .student_form {
    width: 400px;
    margin: auto;
    margin: 50px auto;
    justify-content: center;
  }
  .home_box {
    margin: 100px 0 0 150px !important;
  }
  .home_main_img {
    height: 300px;
    width: 400px;
    margin-left: 70px;
  }
  .home_side_img {
    height: 200px;
    width: 350px;
    margin: 0 80px;
  }
  .home_text {
    width: 280px;
    margin-left: 70px;
  }
  .registration_img {
    width: 100%;
    height: 600px;
  }
  .registration_form {
    padding: 20px;
  }
  #add_btn {
    font-size: medium;
    margin: 20px 40px 0 0 !important;
  }
  #datagrid {
    margin: 100px auto 50px auto;
  }
  .typographyText {
    font-size: 25px !important;
    width: 100%;
    /* margin: 120px auto auto 200px !important; */
  }
  .gridBoxContainer {
    /* min-height: 100% !important;
    width: 100% !important; */
    margin: 30px 10px 30px 225px !important;
  }
  .topgridBoxContainer {
    margin-top: 80px !important;
  }
  .container_box {
    margin: 20px auto 40px 225px !important;
  }
  .contactUsPageText {
    width: 110% !important;
  }

  .contact-us-container {
    height: auto;
    text-align: center;
    margin: 120px 10px 0 229px;
  }
  .contact-info {
    margin-right: 30px;
  }

  /*customizing MUI CSS*/
  /* .css-fgfpp1-MuiDrawer-docked .MuiDrawer-paper {
    width: auto !important;
  } */
  .css-hyum1k-MuiToolbar-root {
    min-height: 95px !important;
  }
  .css-hyum1k-MuiToolbar-root {
    position: sticky !important;
    top: 0;
    z-index: 1000;
  }
}

/* Media for all device with width */
